In [36]:
import numpy as np
import pandas as pd

df=pd.read_csv("train.csv")

In [37]:
df.info()
df=df.dropna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495512 entries, 0 to 495511
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   City        495512 non-null  object
 1   Datetime    495512 non-null  object
 2   PM2.5       488851 non-null  float64
 3   PM10        484693 non-null  float64
 4   NO          469994 non-null  float64
 5   NO2         489898 non-null  float64
 6   NOx         485090 non-null  float64
 7   NH3         474977 non-null  float64
 8   CO          490495 non-null  float64
 9   SO2         483354 non-null  float64
 10  O3          471898 non-null  float64
 11  Benzene     486993 non-null  float64
 12  Toluene     484508 non-null  float64
 13  Xylene      483352 non-null  float64
 14  AQI_Bucket  495512 non-null  int64
dtypes: float64(12), int64(1), object(2)
memory usage: 56.7+ MB

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 362643 entries, 0 to 495511
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   City        362643 non-null  object
 1   Datetime    362643 non-null  object
 2   PM2.5       362643 non-null  float64
 3   PM10        362643 non-null  float64
 4   NO          362643 non-null  float64
 5   NO2         362643 non-null  float64
 6   NOx         362643 non-null  float64
 7   NH3         362643 non-null  float64
 8   CO          362643 non-null  float64
 9   SO2         362643 non-null  float64
 10  O3          362643 non-null  float64
 11  Benzene     362643 non-null  float64
 12  Toluene     362643 non-null  float64
 13  Xylene      362643 non-null  float64
 14  AQI_Bucket  362643 non-null  int64
dtypes: float64(12), int64(1), object(2)
memory usage: 44.3+ MB

In [39]:
df.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI_Bucket
0,Jaipur,2019-05-04 01:00:00,60.8,91.5,41.6,37.3,66.7,27.0,1.0,10.5,26.9,2.0,7.6,3.1,5
3,Kochi,2020-06-19 09:00:00,16.0,26.9,17.4,0.9,0.0,23.6,1.6,27.4,34.8,3.1,0.0,3.1,5
6,Thiruvananthapuram,2019-05-02 09:00:00,39.2,95.5,0.9,3.5,2.6,2.8,1.2,1.8,46.6,3.1,8.7,3.1,1
7,Talcher,2019-06-08 08:00:00,41.4,89.4,37.0,2.3,39.3,8.2,0.8,23.5,2.4,0.0,8.7,3.1,1
8,Guwahati,2020-02-08 19:00:00,175.8,309.9,49.4,37.5,121.3,18.2,1.2,12.4,18.2,1.5,8.7,3.1,4

In [42]:
city_label={k:i for i,k in enumerate(df['City'].unique(),0)} 
df['City']=df['City'].map(city_label)
df['City'].unique

<bound method Series.unique of 0          0
3          1
6          2
7          3
8          4
          ..
495505    16
495507    18
495509    16
495510     5
495511    16
Name: City, Length: 362643, dtype: int64>

In [52]:
#allocating features and labels
x=df.iloc[:,2:13]
y=df['AQI_Bucket']